# Knjižnica pandas - podatkovne tabele (angl. _dataframe_)

### Ustvarjanje podatkovnih tabel

Sestavi sezname imen in priimkov (vsak element seznama je niz oblike `"Ime Priimek"`), starosti in ocen (za vajo lahko starosti in ocene generiraš naključno). V seznamu `imena in priimki` ter `starosti` naj bo po 6 vrednosti, v seznamu `ocene` pa 5.

Nato ustvari preprosto podatkovno tabelo, s stolpci `ime in priimek`, `starost`, `ocena`. Zaenkrat podatkovne tipe pustimo pri miru.

In [27]:
import random
import pandas as pd

ime_priimek = ["Ana Novak", "Marko Kovač", "Eva Horvat", "Luka Zupan", "Maja Zajc", "Nina Mlakar"]
starost = [random.randint(18,30) for i in range(6)]
ocene = [random.randint(6,10) for i in range(5)]
podatkovna_tabela = pd.DataFrame({'ime in priimek': pd.Series(ime_priimek), 'starost': pd.Series(starost), 'ocene': pd.Series(ocene)})

print(podatkovna_tabela)

  ime in priimek  starost  ocene
0      Ana Novak       18    8.0
1    Marko Kovač       26    6.0
2     Eva Horvat       18    6.0
3     Luka Zupan       30    6.0
4      Maja Zajc       27   10.0
5    Nina Mlakar       24    NaN

Izpiši tabelo. Kaj se zgodi z manjkajočo oceno?

In [22]:
print(podatkovna_tabela)

  ime in priimek  starost  ocena
0      Ana Novak       24    8.0
1    Marko Kovač       25    8.0
2     Eva Horvat       25   10.0
3     Luka Zupan       30    9.0
4      Maja Zajc       19    8.0
5    Nina Mlakar       26    NaN

### Osnovno delo s podatkovnimi tabelami

Izpiši podatke o zgoraj ustvarjeni tabeli (izpis polepšaj tako, da bo pred vsako vrednostjo kratek opis te vrednosti, npr. `Število vrstic: 6`):
* število vrstic
* število stolpcev
* število vseh elementov
* imena stolpcev
* podatkovne tipe stolpcev (Kakšnih tipov so stolpci? Te je kaj presenetilo?)
* imena vrstic
* vrednosti v podatkovni tabeli

In [16]:
# Izpis različnih informacij o podatkovni tabeli

# Število vrstic
stevilo_vrstic = podatkovna_tabela.shape[0]

# Število stolpcev
stevilo_stolpcev = podatkovna_tabela.shape[1]

# Število vseh elementov
stevilo_elementov = podatkovna_tabela.size

# Imena stolpcev
imena_stolpcev = podatkovna_tabela.columns.tolist()

# Podatkovni tipi stolpcev
tipi_stolpcev = podatkovna_tabela.dtypes

# Imena vrstic
imena_vrstic = podatkovna_tabela.index.tolist()

# Vrednosti v podatkovni tabeli
vrednosti_tabela = podatkovna_tabela.values.tolist()

# Izpis
print(f"Število vrstic: {stevilo_vrstic}")
print(f"Število stolpcev: {stevilo_stolpcev}")
print(f"Število vseh elementov: {stevilo_elementov}")
print(f"Imena stolpcev: {imena_stolpcev}")
print("Podatkovni tipi stolpcev:")
print(tipi_stolpcev)
print(f"Imena vrstic: {imena_vrstic}")
print(f"Vrednosti v podatkovni tabeli: {vrednosti_tabela}")

Število vrstic: 6
Število stolpcev: 3
Število vseh elementov: 18
Imena stolpcev: ['ime in priimek', 'starost', 'ocena']
Podatkovni tipi stolpcev:
ime in priimek     object
starost             int64
ocena             float64
dtype: object
Imena vrstic: [0, 1, 2, 3, 4, 5]
Vrednosti v podatkovni tabeli: [['Ana Novak', 19, 6.0], ['Marko Kovač', 25, 9.0], ['Eva Horvat', 22, 7.0], ['Luka Zupan', 20, 10.0], ['Maja Zajc', 28, 8.0], ['Nina Mlakar', 18, nan]]

### Dostopanje do vrednosti

Izpiši stolpec ocen (za vajo poskusi na dva različna načina):

In [29]:
print(podatkovna_tabela.ocene)
print(podatkovna_tabela['ocene'])

0     8.0
1     6.0
2     6.0
3     6.0
4    10.0
5     NaN
Name: ocene, dtype: float64
0     8.0
1     6.0
2     6.0
3     6.0
4    10.0
5     NaN
Name: ocene, dtype: float64

Izpiši še stolpec imen in priimkov. Gre tudi tu na oba načina?

In [32]:
print(podatkovna_tabela.ime in ime_priimek)

print(podatkovna_tabela['ime in priimek'])

SyntaxError: invalid decimal literal (2826590112.py, line 3)

Izpiši starosti od tretje do pete vrstice:

In [34]:
print(podatkovna_tabela.loc[3:5, 'starost'])
print(podatkovna_tabela.starost[3:6])

3    30
4    27
5    24
Name: starost, dtype: int64
3    30
4    27
5    24
Name: starost, dtype: int64

Izpiši samo imena in ocene:

In [36]:
print(podatkovna_tabela.loc[:, ['ime in priimek', 'starost']])

  ime in priimek  starost
0      Ana Novak       18
1    Marko Kovač       26
2     Eva Horvat       18
3     Luka Zupan       30
4      Maja Zajc       27
5    Nina Mlakar       24

## Še en primer

Dani so naslednji podatki o živalih v zavetišču

In [58]:
imena = ["Luna", "Whiskers", "Rocky", "Nala", "Maksi", "Bella", "Buddy"]
vrste = ["Pes", "Mačka", "Pes", "Mačka", "Pes", "Mačka", "Pes"]
starosti = [2, 4, 3, 1, 5, 2, 6]
spoli = ["Ž", "M", "M", "Ž", "M", "Ž", "M"]
datumi_sprejema = ["2023-04-10", "2023-03-15", "2023-04-02", "2023-03-20", "2023-04-12", "2023-04-05", "2023-03-08"]

Sestavi tabelo `zavetisce`. Tabela naj vsebuje naslednje stolpce. Poleg stolpca je zapisan tip podatkov v tem stolpcu.

* `ime` - običajen stolpec
* `vrsta` - kategorija
* `starost` - celoštevilske vrednosti
* `spol` - kategorija
* `datum_sprejema` - časovni podatek

In [59]:
import pandas as pd
zavetisce = pd.DataFrame({'imena': pd.Series(imena), 
                          'vrste': pd.Series(vrste, dtype='category'), 
                          'starost': pd.Series(starosti, dtype='int'), 
                          'spol': pd.Series(spoli, dtype='category'), 
                          'datumi': pd.to_datetime(datumi_sprejema)})
print(zavetisce)

      imena  vrste  starost spol     datumi
0      Luna    Pes        2    Ž 2023-04-10
1  Whiskers  Mačka        4    M 2023-03-15
2     Rocky    Pes        3    M 2023-04-02
3      Nala  Mačka        1    Ž 2023-03-20
4     Maksi    Pes        5    M 2023-04-12
5     Bella  Mačka        2    Ž 2023-04-05
6     Buddy    Pes        6    M 2023-03-08

Dani so še opisi živali. Vrstni red ustreza vrstnemu redu prejšnjih seznamov.

In [60]:
opisi = ["Mešanec, črna dlaka, prijazna", "Sivo-bela dlaka, živahen, nejevoljen ob dotiku", "Labrador, rjave oči, igriv, poslušen",
         "Črna dlaka, prijazna, zelo igriva", "Nemški ovčar, črno-rjava dlaka, velik, zvest", "Bela dlaka, sramežljiva, igriva",
         "Zlati prinašalec, svetlo rjava dlaka, prijazen"]

Tabeli `zavetisce` dodaj nov stolpec z opisi živali.

In [61]:
zavetisce['opisi'] = opisi
print(zavetisce)

      imena  vrste  starost spol     datumi  \
0      Luna    Pes        2    Ž 2023-04-10
1  Whiskers  Mačka        4    M 2023-03-15
2     Rocky    Pes        3    M 2023-04-02
3      Nala  Mačka        1    Ž 2023-03-20
4     Maksi    Pes        5    M 2023-04-12
5     Bella  Mačka        2    Ž 2023-04-05
6     Buddy    Pes        6    M 2023-03-08

                                            opisi
0                   Mešanec, črna dlaka, prijazna
1  Sivo-bela dlaka, živahen, nejevoljen ob dotiku
2            Labrador, rjave oči, igriv, poslušen
3               Črna dlaka, prijazna, zelo igriva
4    Nemški ovčar, črno-rjava dlaka, velik, zvest
5                 Bela dlaka, sramežljiva, igriva
6  Zlati prinašalec, svetlo rjava dlaka, prijazen

Izpiši samo opise živali v lihih vrsticah:

In [64]:
print(zavetisce.loc[1:6:2, 'opisi'])

1    Sivo-bela dlaka, živahen, nejevoljen ob dotiku
3                 Črna dlaka, prijazna, zelo igriva
5                   Bela dlaka, sramežljiva, igriva
Name: opisi, dtype: object

Izpiši vrstice 2, 4 in 5 ter stolpce `ime`, `vrsta` in `spol`.

In [67]:
print(zavetisce.loc[[2,4,5], ['imena', 'vrste', 'spol']])

   imena  vrste spol
2  Rocky    Pes    M
4  Maksi    Pes    M
5  Bella  Mačka    Ž

Izpiši prve tri vrstice stolpca na 4. indeksu.

In [68]:
print(zavetisce.iloc[:3,4])

0   2023-04-10
1   2023-03-15
2   2023-04-02
Name: datumi, dtype: datetime64[ns]

Izpiši datum sprejema mačka z imenom Whiskers:

In [71]:
print(zavetisce.loc[zavetisce['imena'] == 'Whiskers', 'datumi'])

1   2023-03-15
Name: datumi, dtype: datetime64[ns]

Izpiši imena in starosti vseh psov v zavetišču:

In [73]:
print(zavetisce.loc[zavetisce['vrste'] == 'Pes', ['imena', 'starost']])

   imena  starost
0   Luna        2
2  Rocky        3
4  Maksi        5
6  Buddy        6

Izpiši vse živali, starejše od treh let"

In [76]:
print(zavetisce.loc[zavetisce['starost'] >= 3, 'imena'])

      imena  vrste  starost spol     datumi  \
1  Whiskers  Mačka        4    M 2023-03-15
2     Rocky    Pes        3    M 2023-04-02
4     Maksi    Pes        5    M 2023-04-12
6     Buddy    Pes        6    M 2023-03-08

                                            opisi
1  Sivo-bela dlaka, živahen, nejevoljen ob dotiku
2            Labrador, rjave oči, igriv, poslušen
4    Nemški ovčar, črno-rjava dlaka, velik, zvest
6  Zlati prinašalec, svetlo rjava dlaka, prijazen

Izpiši imena, vrste in opise vseh živali, ki so jih v zavetišče sprejeli pred 1. 4. 2023:

In [78]:
print(zavetisce.loc[zavetisce['datumi'] < '2023-04-01', :])

      imena  vrste  starost spol     datumi  \
1  Whiskers  Mačka        4    M 2023-03-15
3      Nala  Mačka        1    Ž 2023-03-20
6     Buddy    Pes        6    M 2023-03-08

                                            opisi
1  Sivo-bela dlaka, živahen, nejevoljen ob dotiku
3               Črna dlaka, prijazna, zelo igriva
6  Zlati prinašalec, svetlo rjava dlaka, prijazen