In [1]:
# uvoz modulov

# Podatkovne tabele in poravnava indeksov

## Poravnava indeksov

### Kdaj imamo lahko težave s poravnavo indeksov?

1. Sestavi zaporedje kvadratov `kvadrati` naravnih števil od 0 do 20. Izračunati želimo zaporedje razlik : $x_1 - x_0$, $x_2 - x_1$, ...., $x_{20} - x_{19}$.
2. Ustvari novo zaporedje, ki je sestavljeno iz kvadratov, zamaknjenih za ena "navzgor" - poravnati želimo 0 z 1, 1 s 4, 4 z 9, ...
3. Ustvari podatkovno tabelo iz obeh zaporedij. 
4. Dodaš nov stolpec z razlikami, kot je opisano zgoraj. 

Preveri rezultat in razmisli: smo dobili pričakovani rezultat in zakaj (ne)? Kaj se zgodi s podatkovnim tipom zamaknjenega stolpca in zakaj?

In [5]:
import pandas as pd

#1.zaporedje kvadratov naravnih števil.
#Izračunamo zaporedje razlik
kvadrati = [x**2 for x in range(21)]
razlike = [kvadrati[i] - kvadrati[i-1] for i in range(1,len(kvadrati))]
print(kvadrati)
print(razlike)

#2.novo zaporedje sestavljeno iz kvadratov, zamaknjenih za ena navzgor.
zamaknjeni_kvadrati = [None] + kvadrati[:-1]
print(zamaknjeni_kvadrati)

#3.ustvarimo podatkovno tabelo
tabela = pd.DataFrame({'Kvadrati': kvadrati, 
                       'Zamaknjeni_kvadrati': zamaknjeni_kvadrati,
                       'Razlike': [None] + razlike
})
print(tabela)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
[None, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
    Kvadrati  Zamaknjeni_kvadrati  Razlike
0          0                  NaN      NaN
1          1                  0.0      1.0
2          4                  1.0      3.0
3          9                  4.0      5.0
4         16                  9.0      7.0
5         25                 16.0      9.0
6         36                 25.0     11.0
7         49                 36.0     13.0
8         64                 49.0     15.0
9         81                 64.0     17.0
10       100                 81.0     19.0
11       121                100.0     21.0
12       144                121.0     23.0
13       169                144.0     25.0
14       196                169.0     27.0
15       225                196.0     29.0
16       256                225.0     31.0
17       289                256.0     33.0
18       324                289.0     35.0
19       361                324.0     37.0
20       400                361.0     39.0

5. Popravi indekse drugega (zamaknjenega) zaporedja, da bo število 1 na ničtem indeksu, 4 na prvem, 9 na drugem, ...
6. Ponovno ustvari tabelo in izračunaj razlike. (Vsi elementi morajo biti večji od nič).
7. Izpiši podatkovno tabelo z vsemi tremi stolpci.

In [ ]:
#5.Poprava indeksov zamaknjenega zaporedja

### Kako združiti zaporedja?

Dani so podatki o študentih, ki so vpisani v predmet ter ocenah prvega izpitnega roka:

* seznam `sez_studenti` vsebuje pare oblike `(<vpisna številka>, <ime>)`, 
* seznam `sez_ocene` vsebuje pare oblike `(<vpisna številka>, <ocena>)`.

In [4]:
sez_studenti = [("124174", "Maja"), ("223974", "Tilen"), ("341842", "Petra"), ("418623", "Blaž"), ("527421", "Katja"), ("620516", "Benjamin"), ("729516", "Urban"), ("828651", "Pija")]
sez_ocene = [("124174", 5), ("341842", 7), ("527421", 10), ("729516", 9), ("418623", 8), ("915715", 6), ("014153", 7)]

Ustvari zaporedji `studenti` ter `ocene`, ki imata za indeks vpisno številko:

Ustvari podatkovno tabelo `rezultati_1` s stolpcema `student` in `ocena`. Kako `pandas` združi stolpca v isto tabelo?

V tabeli `rezultati_2` združi zaporedji tako, da bodo v njej le študenti, ki so vpisani v predmet:
<details><summary>Namig</summary>
Oglej si, kako deluje metoda <code>align</code>.
</details>

V tabeli `rezultati_3` združi zaporedji tako, da bodo v njej le študenti, ki so pisali prvi izpit:

V tabeli `rezultati_4` združi zaporedji tako, da bodo v njej le študenti, ki so vpisani v predmet in so pisali prvi izpit:

### Še en primer

Dane so meritve temperature zraka in višine vode v Kopru 29. oktobra med 6. in 12. uro. Temperatura je merjena vsako polno uro (tj. ob 6:00, 7:00, ...), višina vodostaja pa 10, 30 in 50 minut čez polno uro (tj. 6:10, 6:30, 6:50, 7:10, ...).

In [118]:
sez_temp = [12, 11.8, 13.4, 15.9, 18.6, 18.7, 19.5]
sez_voda = [252, 257, 260, 262, 262, 261, 259, 258, 256, 252, 249, 244, 238, 233, 226, 218, 210, 203]

Sestavi časovni vrsti `indeks_temp` in `indeks_voda`, ki vsebujeta čase meritev temperature in vode. Nato ustvari zaporedji temperatur in višine vodostaja ter jima nastavi ustrezna indeksa.

<details><summary>Ne veš kako se lotiti?</summary>
Pri tem si lahko pomagaš z indeksiranjem časovnega obdobja (angl. date range), lahko pa se poglobiš v <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#combining-aliases">dokumentacijo</a> in poiščeš pomoč za ustvarjanje časovnih točk v poljubnih intervalih.
</details>

Na podlagi zaporedij ustvari tabelo s stolpcema `temperature` in `visine`, ki ima za indeks časovne točke.

Kako izgleda dobljena tabela?

Zaporedji poravnaj tako, da zaporedju temperatur nastaviš indeks zaporedja voda. 

<details><summary>Namig</summary>Oglej si delovanje metode <code>reindex</code>.</details>

Ponovno ju združi v tabelo, podobno tisti zgoraj. Kaj opaziš? Katere podatke obdržimo in kakšne so vrednosti obeh stolpcev?

Zaporedji sedaj poravnaj tako, da zaporedju višin vode nastaviš indeks zaporedja temperatur. Dobimo isti nabor podatkov?

Naštej in preizkusi različne načine obravnave/zamenjave manjkajočih vrednosti. Kakšne so razlike?

## Naloge iz podatkovnih tabel

### 1. naloga: ITM

Iz zaporedij pri nalogi ITM, izračunanih na drugih vajah, sestavi podatkovno tabelo s štirimi stolpci, `ime`, `visina`, `teza` in `ITM`. Spremeni imena vrstic tako, da ustrezajo imenom oseb in nato zbriši stolpec ime. Indeksiraj dobljeno tabelo tako, da dobiš imena oseb, ki imajo ITM manj kot 26.

### 2. naloga: naključna zaporedja
Ustvari dve zaporedji `x` in `y` dolžine 250 tako, da s ponavljanjem naključno izbiraš naravna števila iz intervala $[0, 999]$. Označimo z $x_1, x_2, \ldots, x_{250}$ in $y_1, y_2, \ldots, y_{250}$ elemente zaporedij `x` in `y`. Izračunaj:

* Zaporedje z elementi $y_2 - x_1, y_3 - x_2, \ldots, y_{250} - x_{249}$.
* Vsoto $\sum_{i=1}^{249} e^{- x_{i+1}} / (x_i + 10)$.

### 3. naloga - temperature - 1. del

Dana je podatkovna tabela `temperature` s podatki o povprečni dnevni temperaturi zraka (v Celzijevih stopinjah) v Ljubljani v obdobju od začetka leta 2010 do konca 2019.

In [15]:
temperature = pd.read_csv("https://kt.ijs.si/~ljupco/lectures/papvp-2324/temp-lj-2010-2019.csv")

* Iz podatkovne tabele sestavi zaporedje `temp_lj`, kjer so indeksi datumi v opazovanem obdobju in vrednost elementa enaka povprečni temperaturi na ustrezen datum.
    * preveri pogostost (angl. _resolution_) indeksa (pričakujemo rezultat `"day"`)
    * temperaturo na božič 2015 (25. december)
    * izpiši temperature v juniju 2010
    * izpiši temperature med 19. decembrom 2012 in 3. januarjem 2013
* Z indeksiranjem zaporedja `temp_lj` sestavi novo zaporedje `temp_lj_petek` povprečnih temperatur ob petkih.
* Z indeksiranjem zaporedja `temp_lj` sestavi novo zaporedje `temp_lj_13` povprečnih temperatur za vsak datum, kjer je dan v mesecu enak 13.
* S poravnavo zaporedij `temp_lj_petek` in `temp_lj_13` sestavi novo zaporedje `temp_lj_petek_13` s povprečnimi temperaturami za vsak petek trinajstega v opazovanem obdobju.
* Z indeksiranjem zaporedja `temp_lj_petek_13` izpiši datuma za najbolj vroč in najbolj hladen petek trinajstega.
* Izračunaj povprečno temperaturo za datume, ki padejo na petek trinajstega v opazovanem obdobju.

### 4. naloga - temperature - 2. del

Uporabi **tabelo** `temperature` iz prejšnje naloge. Stolpec `datum` popravi, da bo tipa `datetime`.

* Izpiši datume najbolj vročih in najbolj hladnih dni v opazovanem obdobju.
* Izpiši datume s temperaturo, ki ne odstopa za več kot eno stopinjo Celzija od povprečne temperature v tem obdobju.
* Sestavi funkcijo, ki za podano leto in mesec vrne povprečno temperaturo zraka.
* Z uporabo te funkcije sestavi zaporedje povprečnih temperatur po mesecih (zaporedje naj vsebuje eno vrstico za vsak mesec vsakega leta).
    <details><summary>Namig</summary>
    Preveri, kako deluje metoda <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.apply.html"><code>apply</code></a> na podatkovnih zaporedjih in okvirjih. Kako bi dobil vse mesece in leta v izbranem obdobju?
    </details>
* Izpiši mesece, ko je bila povprečna temperatura najvišja oziroma najnižja.